#j-loginInputBox{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#j-loginButtons{
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}

#j-login{
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}

#j-loginRows{
  text-align: center;
  margin-bottom: 5px;
}

#j-colizqResult{
  width: 25%;
  text-align: left;
}

#j-colmidResult{
  width: 50%;
  text-align: center;
  padding: 0px;
}

#j-colderResult{
  width: 25%;
  text-align: right;
}

#oddRowsResult{
  background-color: rgba(255, 255, 255, 0.35);
}