#r-indexColumnL{
	padding: initial;
	border: none;
	text-align: -webkit-right;
	width: 48.8%;
}

#r-indexColumnR{
	padding: initial;
	border: none;
	text-align: -webkit-left;
	width: 48.8%;
}

#r-indexTitle{
	color: white;
	font-weight: 500;
}

#r-indexImg{
	width: 80%;
	height:80%;
}

#r-indexButton{
	width: 20%;
}