<!DOCTYPE html>
<html>
  <head>
    <title>BazarBoricua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/luis.css" rel="stylesheet" media="screen">

  </head>
  <body>
  	<div class="container" id="bieneContainer">
	    <h1>Bienes Raices</h1>
	    	<p>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Pueblo o Area <span class="caret"></span>
					</button>
					 <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Cayey</a></li>
					    <li><a href="#">Villalba</a></li>
					    <li><a href="#">Rio Piedras</a></li>
					    <li><a href="#">Aguadilla</a></li>
					    <li><a href="#">Ponce</a></li>
					 </ul>
				</div>
			</p>
			<p>
				<div class="btn-group">
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    					Tipo de propiedad <span class="caret"></span>
  					</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Casa</a></li>
					    <li><a href="#">Finca</a></li>
					    <li><a href="#">Apartamento</a></li>
					    <li><a href="#">Solar</a></li>
					    <li><a href="#">Comercio</a></li>
					  </ul>
				</div>
			</p>
			<p>
				<div class="btn-group">
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    					Precio desde <span class="caret"></span>
  					</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">1000</a></li>
					    <li><a href="#">2000</a></li>
					    <li><a href="#">3000</a></li>
					    <li><a href="#">4000</a></li>
					    <li><a href="#">5000</a></li>
					  </ul>
				</div>
				<div class="btn-group">
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    					Precio desde <span class="caret"></span>
  					</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">10000</a></li>
					    <li><a href="#">20000</a></li>
					    <li><a href="#">30000</a></li>
					    <li><a href="#">40000</a></li>
					    <li><a href="#">50000</a></li>
					  </ul>
				</div>
			</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
