<!DOCTYPE html>
<html>
	<head>
		<title>BazarBoricua Home</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/ramon.css">
	</head>

	<body>
		<br>

		<div style='text-align: center;'>
			<img src='../static/images/logo.png' width=20%>
		</div>

		<br>

		<div class="col-xs-6 col-md-4" id='r-indexColumnL'>
			<div>
				<button class="btn btn-default btn-block" type="button" name="Sale-RentButton" style="background-color:skyblue;" id="r-indexButton">
					<img src="../static/images/bienesraices.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Bienes Raices</p>
				</button>
			</div>
			<br>
			<div>
				<button class="btn btn-default btn-block" type="button" name="EmpleosButton" style="background-color:lightgreen" id="r-indexButton">
					<img src="../static/images/empleo.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Empleos</p>
				</button>
			</div>
			<br>
			<div>
				<button class="btn btn-default btn-block" type="button" name="MascotasButton" style="background-color:lightpink;" id="r-indexButton">
					<img src="../static/images/mascotas.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Mascotas</p>
				</button>
			</div>
		</div>

		<div class="col-xs-6 col-md-4" style="width: 2.4%;">
		</div>

		<div class="col-xs-6 col-md-4" id='r-indexColumnR'>
			<div>
				<button class="btn btn-default btn-block" type="button" name="AutosButton" style="background-color:khaki;" id="r-indexButton">
					<img src="../static/images/transportacion.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Transportacion</p>
				</button>
			</div>
			<br>
			<div>
				<button class="btn btn-default btn-block" type="button" name="ArticulosButton" style="background-color:mediumaquamarine" id="r-indexButton">
					<img src="../static/images/articulos.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Articulos</p>
				</button>
			</div>
			<br>
			<div>
				<button class="btn btn-default btn-block" type="button" name="ServiciosButton" style="background-color:sandybrown;" id="r-indexButton">
					<img src="../static/images/servicios.png" id='r-indexImg'/>
					<p id='r-indexTitle'>Servicios</p>
				</button>
			</div>
		</div>
	</body>
</html>