<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">

	    <!-- Bootstrap core CSS -->
	    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="../static/css/julio.css" rel="stylesheet">
  	</head>

  	<body>
  		<div class="container" id="login">
  			<img src="../static/images/logo.png" class="img-thumbnail" style="margin-bottom: 10px; margin-top: 10px;">
  			<!-- LOGIN FORM -->
  			<form role="form">
  				<!-- EMAIL TEXTBOX -->
  				<div class="form-group" id="j-loginRows">
  					<input id = "j-loginInputBox" type="email" class="form-control" placeholder="Correo electrónico" name="email" required autofocus>
  				</div>
  				<!-- PASSWORD TEXTBOX -->
  				<div class="form-group" id="j-loginRows">
  					<input id = "j-loginInputBox" type="password" class="form-control" placeholder="Contraseña" name="password" required>
  				</div>
  				<!-- CHECKBOX -->
	  			<div class="checkbox" style="text-align:center;">
			    <label style = "color:white;">
			      <input type="checkbox"> Mantener la sesión iniciada 	
			    </label>
			  </div>
			  <!-- BOTONES -->
	  			<div class="form-group" id="j-loginRows">
	  				<div class="col-xs-6" style="margin-left: 5px; padding-right: 0px;">
	  					<a id="j-loginButtons" class="btn btn-danger" href="index.html" role="button">Cancelar</a>
	  				</div>
	  				
	  				<div class="col-xs-6" style="width: 60%; margin-left: -37px;">
	  					<button id="j-loginButtons" type="submit" class="btn btn-primary" >Iniciar Sesion</button>
	  				</div>
	  			</div>
  			</form>
  			<!-- TERMINA LOGIN FORM -->
		</div>
  	</body>
</html>